*{
    border: 0;
    margin: 0;
}
body{
    background-color: rgb(24, 24, 145);
}

/* header css */

header{
    font-size: 1.4rem;
    display: flex;
    background-color: aqua;

    min-height: 2.5rem;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 30px;
}

/* loader */

#loader {
    position: absolute;
    display: block;
    left: 45%;
    top: 30%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  /* nav bar */

.nav{
    
    width: 53%; /*upto 800px */
    display: flex;
    justify-content: space-around;
}
.nav a{
    color: rgb(0, 4, 255);
    text-decoration: none;
    cursor: pointer;
}
.nav a:hover{
    transform: scale(105%);
}

.topLevel form{
    display: flex;
}
#search{
    font-size: 1rem;
}
.topLevel input{
    width: 15vw;
    border-radius: 5px;
}
.topLevel button{
    color: mintcream;
    background-color: indigo;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: 0.1s;
}
.genrebtn:hover{
    transform: scale(105%);
    box-shadow: rgb(4, 0, 252) 0px 0px 20px 5px; 
}

.topLevel input:focus{
    transform: scale(105%);
    box-shadow: rgb(4, 0, 252) 0px 0px 20px 5px;
}

.genrebtn{
    margin-left: 10px;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;
    background-color: lime;
    border-radius: 5px;
    cursor: pointer;

}

/* header css */

/* main css */
main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    background-color: orchid;
    /* height: 300px; */
    width: 250px;
    margin: 0.8rem;

    transition: 0.2s;
}

.card:hover{
    transform: scale(110%);
    box-shadow: rgb(0, 252, 134) 0px 0px 10px 3px;
}

.card img{
    width:100%;
}

.movie-info{
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color:rgb(0, 0, 0);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px;
}

.pop{
    position:absolute;
    font-size: 30px;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.500);
    padding: 1rem;
    max-height: 100%;
    display: none;
}

.card:hover .pop{
    display: flex;
    justify-content: center;
}

.details{
    position: absolute;
    background-color: transparent;
    border: 2px solid;
    padding:0.5rem 1rem;
    top: 50%;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
    cursor: pointer;
}

/* The Overlay (background) */
.overlay {
    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}



/* The navigation links inside the overlay */
.overlay a {
  text-decoration: none;
  color: #818181;
  /* display: block; Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 25px;
  }
}





/* genre */
.newGenre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 0, 0.527);
    
    display: none;
    padding: 10px 9% 10px 9%;

}

.tag{
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    background-color: rgba(251, 255, 0, 0.76);
    border-radius: 50px;
    

}

.tag.highlight{
    background-color: rgb(25, 0, 255);
}

.genrebuttons{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.reset{
    margin: 10px 45%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(205, 0, 0);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.reset:hover{
    background-color: rgb(218, 47, 47);
    box-shadow: rgb(4, 0, 252) 0px 0px 20px 5px;
}

.tag:hover{
    box-shadow: rgb(4, 0, 252) 0px 0px 20px 5px;
    background-color: mediumspringgreen;
    color: navy;
}

#pagination{
    display: none;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
    font-weight: 1000;
    font-size: 30px;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid orange;
    font-size: 20px;
    font-weight: 600;
}




/* Position the content inside the overlay */
.overlay-content {
    color: azure;
    /* display: flex; */
    justify-content: center;
    position: relative;
    top: 5%;
    width: 100%; 
    /* height: 100%; */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */

    
}


#title{
    font-family: cursive;
    padding-bottom: 30px;
    text-decoration: underline;
    margin-left: 20px;
    
}

#status{
    margin: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
}

#navGenre{
    padding: 10px 0 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.number{
    margin: 30px 10px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.name{
    color: white;
    font-size: 20px;

}

#navOverview{
    margin-left: 10%;
    margin-top: 10%;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    text-indent: 10%;
    text-align: justify;
    border: 2px dotted white;
}

.grid{
    display: grid;
    text-align: center;
    grid-template-rows: 0.2fr 0.1fr 0.2fr 0.2fr 0.3fr 0.4fr;
    grid-template-columns: 1fr 1.2fr;

    grid-template-areas: 
    "title video"
    
    "status video"
    "genre video"
    "number video"
    "overview video"
    "cast cast"

        
    ;
    
}

#title{
    grid-area: title;
}

#video{
    grid-area: video;
}

#status{
    grid-area: status;
}

#navGenre{
    grid-area: genre;
}

.number{
    grid-area: number;
}

#navOverview{
    grid-area: overview;
}

#actorlist{
    grid-area: cast;
}





#actorlist{
    
    display: flex;
    flex-wrap: wrap !important;

    justify-content: center;
    
    align-items: center;
}

#cast{
    font-size: 30px;
}
#actorlist a{
    
    margin: 10px;
}

#actorlist img{
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}



.number.green, .number.orange, .number.red {
    font-family: monospace;
    font-size: 25px;
    padding: 0;
    margin: 0 30px;
}
.green{
    color:lightgreen !important;
    border-color: green;
    font-weight: 400;
}

.orange{
    color:orange !important;
    border-color: orange;
    font-weight: 400;
}

.red{
    color:red !important;
border-color: red;
    font-weight: 400;     
}





@media only screen and (max-width: 900px) {
    .grid{
        display: grid;
        grid-template-rows: 0.5fr 1fr 0.3fr 0.1fr 0.1fr 2fr 4fr;
        grid-template-columns: auto;
        grid-template-areas: 
            "title"
            "video"
            "status"
            "genre"
            "number"
            "overview"
            "cast"
        ;
    }

    #navOverview{
        margin: 5%
    }



  }

  @media only screen and (min-width: 601px){
    iframe{
        width: 560px;
        height: 315px;
    }
    
  }
