*{
    border: 0;
    margin: 0;
}
body{
    background-color: rgb(24, 24, 145);
}

/* header css */

header{
    font-size: 1.4rem;
    display: flex;
    background-color: aqua;

    min-height: 2.5rem;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 30px;
}
.nav{
    
    width: 53%; /*upto 800px */
    display: flex;
    justify-content: space-around;
}
.nav a{
    color: rgb(0, 4, 255);
    text-decoration: none;
    cursor: pointer;
}
.nav a:hover{
    transform: scale(105%);
}

.topLevel form{
    display: flex;
}
#search{
    font-size: 1rem;
}
.topLevel input{
    width: 15vw;
    border-radius: 5px;
}
.topLevel button{
    color: mintcream;
    background-color: indigo;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: 0.1s;
}
.genrebtn:hover{
    transform: scale(105%);
    box-shadow: rgb(4, 0, 252) 0px 0px 20px 5px; 
}

.topLevel input:focus{
    transform: scale(105%);
    box-shadow: rgb(4, 0, 252) 0px 0px 20px 5px;
}

.genrebtn{
    margin-left: 10px;
    text-decoration: none;
    padding: 2px;
    font-size: 1.2rem;
    background-color: lime;
    border-radius: 5px;
    cursor: pointer;

}

/* header css */

/* main css */
main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    background-color: orchid;
    /* height: 300px; */
    width: 250px;
    margin: 0.8rem;

    transition: 0.2s;
}

.card:hover{
    transform: scale(110%);
    box-shadow: rgb(0, 252, 134) 0px 0px 10px 3px;
}

.card img{
    width:100%;
}

.movie-info{
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color:rgb(0, 0, 0);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px;
}

.pop{
    position:absolute;
    font-size: 30px;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.500);
    padding: 1rem;
    max-height: 100%;
    display: none;
}

.card:hover .pop{
    display: flex;
    justify-content: center;
}

.details{
    position: absolute;
    background-color: transparent;
    border: 2px solid;
    padding:0.5rem 1rem;
    top: 50%;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
    cursor: pointer;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}



/* The navigation links inside the overlay */
.overlay a {
  text-decoration: none;
  color: #818181;
  /* display: block; Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}





/* genre */
.newGenre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 0, 0.527);
    
    display: none;
    padding: 10px 9% 10px 9%;

}

.tag{
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    background-color: rgba(251, 255, 0, 0.76);
    border-radius: 50px;
    

}

.tag.highlight{
    background-color: rgb(25, 0, 255);
}

.genrebuttons{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.reset{
    margin: 10px 45%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(205, 0, 0);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.reset:hover{
    box-shadow: rgb(4, 0, 252) 0px 0px 20px 5px;
}

.reset:active{
    background-color: mediumspringgreen;
    color: navy;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid orange;
    font-size: 20px;
    font-weight: 600;
}




/* Position the content inside the overlay */
.overlay-content {
    color: azure;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    height: 100%;
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* #title, .navGenre, .number,.cast, #navOverview, .link{
    position: absolute;

} */

#overlay-content img{
    width: 250px;
    top: 0;
    right:10%;
    position: absolute;
}

#title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid{
    display: grid;
    text-align: center;
    grid-template-rows: auto auto;
}

.grid img{
    width: 600px;
    height: 300px;
    top: 0;
    right:10%;
    justify-self: center;
    
}

.grid .top{
    display: grid;
    grid-template-columns: 40% 60%;
}

#navOverview{
    padding: 10%;
}

.green{
    color:lightgreen !important;
    font-size: 30px;
    font-weight: 400;
}

.orange{
    color:orange !important;
    font-size: 30px;
    font-weight: 400;
}

.red{
    color:red !important;
    font-size: 30px;
    font-weight: 400;     
}

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */
